body {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url("img/bg_pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* bg filter */
  #filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  
  .navbar {
    z-index: 999;
    margin-bottom: 20px;
  }
  .navbar-brand {
    font-weight: 600;
    padding-right: 260px;
  }
  
  .navbar-toggler {
    font-weight: 400;
  }
  
  .nav-link {
    font-weight: 600;
    margin-right: 10px;
  }
  
  .navbar-shrink {
    background-color: rgba(14, 12, 10, 0.8);
    transition: background-color 0.5s ease;
  }

  #pdf_logo {
    margin-bottom: 5px;
  }
  
  /* Add smooth scrolling effect for navigation */
  .nav-link[href^="#"] {
    cursor: pointer;
  }

  /* Include everything inside header */
  .header-container{
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    z-index: 1;
  }

  .header-content {
    position: relative;
    z-index: inherit;
    margin-bottom: 100px;
  }

  .header-img {
    z-index: inherit;
    padding-bottom: 35px;
  }

  .header-name {
    z-index: inherit;
    padding-bottom: 10px;
  }

  .header-description {
    z-index: inherit;
  }
  
  .h-d-1 {
    font-weight: 800;
    font-size: 190%;
    padding-bottom: 30px;
  }

  .header-button {
    z-index: inherit;
  }

  #header-button {
    padding: 18px 50px;
    font-size: 24px;
    font-weight: 600;
  }

  .header-arrow {
    z-index: inherit;
    position: absolute;
    bottom: 0px;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  