/* Set the font family for the body and background image */
body {
  font-family: 'Roboto', 'Arial', 'Helvetica Neue', 'Lato', sans-serif;
  background-image: url("img/bg_pic_compressed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bar-header-downarrow {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

/* Add a semi-transparent background filter on top of the background image */
#filter {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

/* Set the styling for the navbar */
.navbar {
  z-index: 999;
  /*margin-bottom: 20px;*/
  position: fixed;
  left: 0;
  right: 0;
}

/* Set the font weight and right padding for the navbar brand */
.navbar-brand {
  font-weight: 600;
}

/* Set the font weight for the navbar toggler */
.navbar-toggler {
  font-weight: 400;
}

/* Set the font weight and right margin for the navigation links */
.nav-link {
  font-weight: 600;
  margin-right: 1rem;
  color: #ffffff;
}

/* Set the background color and transition for the navbar when it shrinks */
.navbar-shrink {
  background-color: rgba(14, 12, 10, 1);
  transition: background-color 0.5s ease;
}

/* Set the cursor style for the navigation links */
.nav-link[href^="#"] {
  cursor: pointer;
}

.active {
  color: rgb(255, 192, 34);
}

/* Set the position, height, and styling for the header container */
.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* Set the position and margin bottom for the header content */
.header-content {
  position: relative;
  z-index: inherit;
  /*margin-bottom: 100px;*/
}

/* Set the z-index and padding bottom for the header image */
.header-img {
  z-index: inherit;
  padding-bottom: 35px;
  padding-top: 10rem;
}

/* Set the z-index and padding bottom for the header name */
.header-name {
  z-index: inherit;
  padding-bottom: 10px;
}

/* Set the z-index for the header description */
.header-description {
  z-index: inherit;
}

/* Set the font weight, font size, and padding bottom for the header main heading */
.h-d-1 {
  font-weight: 800;
  font-size: 190%;
  padding-bottom: 30px;
}

/* Set the z-index for the header button */
.header-button {
  z-index: inherit;
  margin-bottom: 5rem;
}

/* Set the padding, font size, and font weight for the header button */
#header-button {
  padding: 18px 25px;
  font-size: 24px;
  font-weight: 600;
}

/* Set the position, bottom, and animation for the header arrow */
.down-arrow {
  position: absolute;
  z-index: 1;
  animation: bounce 2s infinite;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 1rem;
}

/* Set the keyframes for the header arrow animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#about {
  z-index: 1;
  background-color: #d9dadb;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.about-header {
  position: absolute;
  font-weight: 900;
  font-size: larger;
  background: rgb(255, 255, 255);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.about-page {
  z-index: 1;
  margin: auto;
  padding-top: 10rem;
}

.nav-menubutton {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.img-wrap {
  margin-bottom: 1rem;
}

.about-icon1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

@media (max-width: 992px) {
  .about-icon1 {
    visibility: hidden;
    display: none;
  }
}

.about-icon2 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

@media (min-width: 992px) {
  .about-icon2 {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .img-wrap {
    margin-bottom: 0;
  }
}

.about-text {
  text-align: left;
  font-size: 17px;
}

#about-button {
  font-size: 24px;
  font-weight: 600;
}

.about-buttons {
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .about-footer {
    padding-top: 2rem;
  }
}

#skills {
  z-index: 1;
  background-color: #178fdf;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.skills-body {
  z-index: 1;
  justify-content: center;
}

.skills-body-headers {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 31px;
  margin-top: 1rem;
  font-weight: 700;
}

.skills-body-text {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

/* {
  border: 1px solid red !important;
}
